
<mat-card class="new-post-ctn">
  
  <div class="new-post-title">New Blog Post</div>

  <form [formGroup]="newPost" class="new-post-form">
    <mat-form-field class="post-field">
      <input matInput formControlName="title" placeholder="Blog Post Title ...">
    </mat-form-field>
    <mat-form-field class="post-field">
      <input matInput formControlName="description" placeholder="Blog Post Description ...">
    </mat-form-field>
    <mat-form-field class="post-field">
      <input matInput formControlName="author" placeholder="Blog Post Author ...">
    </mat-form-field>
    <mat-form-field class="post-field">
      <textarea matInput [formControl]="content" placeholder="Blog Post Content ..."></textarea>
    </mat-form-field>
    <markdown lineNumbers [data]="content.value"></markdown>
    <button mat-stroked-button color="primary" type="submit">Create Post</button>
  </form>

</mat-card>

<div class="nav-btn-ctn">
  <button mat-stroked-button routerLink="/all-posts" color="primary" type="button">View All Posts</button>
</div>
