
.new-post-ctn {
  width: 80%;
  margin: auto;
  margin-top: 5%;

  & > .new-post-title {
    font-size: 180%;
    font-weight: bolder;
    text-align: center;
  }

  & > form.new-post-form {
    display: flex;
    align-items: center;
    flex-direction: column;

    & > mat-form-field.post-field {
      width: 75%;
      margin: 24px 0;
    }
  }
}
