/* global styles and other imported style files */
@import '~aws-amplify-angular/theme.css';


html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button { &:focus { outline: none; } & > span {
  color: inherit !important;
}}


.nav-btn-ctn {
  margin: 48px 0 24px;
  display: flex;
  justify-content: center;
}
